@import 'normalize';
@import 'fonts';

$breakpoint-xs: 375px;
$breakpoint-sm: 545px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1200px;

html {
	height: 100%;
}

body {
	box-sizing: border-box;
	font-family: $font-stack; 
	overflow: hidden;
}

img {
	max-width: 400px;
	max-height: 400px;
	margin: 0 20px 20px 0;
}

a {
	color: black;
}

button {
	padding: 6px;
	text-decoration: underline;
	background: none;
	border: none;

	&:hover {
		cursor: pointer;
		text-decoration: none;
	}
}

h1 {
	margin: 0;
	font-size: 2.5rem;
}

h2 {
	margin: 0;
	line-height: 2rem;
}

.parallax {
	perspective: 1px;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
}

.parallax__layer {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	&--base {
		transform: translateZ(0);
		transform: translateY(120px);
	}

	&--deep {
		transform: translateZ(-2px) scale(3);
	}

	&--back {
		transform: translateZ(-1px) scale(2);
		height: calc(100vh * 23);
		background: linear-gradient(chartreuse, aqua);
	}
}

.icon-arrow {
	cursor: pointer;
	font-size: 3em;
	transition: all 1s ease;

	&--down {
		margin-left: 128px;
		transform: translateY(-8px);
	}

	&--rotate {
		transform:rotate(360deg);
	}
}

.nav {

}

.nav-main {
	display: flex;
	flex-direction: column;
	margin-top: 200px;
	margin-left: 100px;

	&__layer {
		&--horizontal {
			display: flex;
		}
	}
}

#jv-title {
	margin-right: 13px;
}




