@import 'normalize';
@import 'fonts';

$breakpoint-xs: 375px;
$breakpoint-sm: 545px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1200px;

@keyframes fadeIn {
	0% {
		display: none;
		opacity: 0;
	}
	1% {
		display: block;
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

html {
	height: 100%;
}

::-webkit-scrollbar {
	display: none;
}

body {
	height: 100%;
	box-sizing: border-box;
	padding: 30px;
	font-family: sans-serif;
	overflow: hidden;
}

.outer {
	position: absolute;
	overflow: auto;
	top: 30px;
  bottom: 0;
  left: 30px;
  right: 30px;
}

img {
	max-width: 400px;
	max-height: 400px;
	margin: 0 20px 20px 0;
}

a {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

button {
	padding: 6px;
	text-decoration: underline;
	background: none;
	border: none;

	&:hover {
		cursor: pointer;
		text-decoration: none;
	}
}

main {
	display: flex;
}

h1 {
	margin: 0;
	font-size: 2.5rem;
}

h2 {
	margin: 0;
	font-size: 1.2em;
	line-height: 2rem;
}

h3 {
	cursor: pointer;
	letter-spacing: 0.02em;
}

ul {
	font-size: 0.95em;
	list-style: none;
}

p {
	font-size: 0.95em;
	line-height: 1.5em;

	.bold {
		font-weight: bold;
	}

	.italic {
		font-style: italic;
	}
}

.up-arrow--mobile {
	display: none;
}

.icon-arrow {
	cursor: pointer;
	font-size: 2em;
	padding-right: 30px;
	transition: all 1s ease;

	&--mobile {
		display: none;
	}

	&--down {
		font-family: none;
		font-size: 2em;
		margin-left: 119px;
		transition: all 1.5s ease;

		&--rotate {
			font-size: 4em;
		}
	}

	&--rotate {
		transform: rotate(360deg);
	}
}

.nav {
	color: white;
	display: flex;
	justify-content: center;
	min-width: 250px;
	opacity: 0;
	visibility: hidden;
	transition: opacity 1s ease;

	&--show {
		margin-right: 20px;
		opacity: 1;
		visibility: visible;
	}

	&-list {
		line-height: 1.8em;
		margin: 0;
		padding: 0;
	}

	&-link {
		margin-bottom: 20px;
		transition: all 1s ease;

		&--active {
			font-style: italic;
		}

		&__list {
			&--recordings {
				display: flex;
				justify-content: space-between;
				margin-bottom: 0;
				padding: 0;

				li {
					font-family: monospace;
					font-size: 1.5em;
					margin-bottom: 10px;
					text-decoration: underline;
					width: 49%;

					iframe {
						width: 100% !important;
					}
				}
			}
		}
	}

}

.nav-main {
	display: flex;
	flex-direction: column;

	&__layer {
		&--horizontal {
			display: flex;
		}
	}

	&__list {
		align-items: center;
		display: flex;
		font-family: sans-serif;
		font-size: 1.2em;
		list-style: none;
		opacity: 0;
		padding: 0;
		transition: opacity 1s ease-in 0.5s;
		visibility: hidden;
		white-space: nowrap;

		a {
			color: white;
		}

		&-item {
			padding-right: 30px;
		}

		&--show {
			opacity: 1;
			visibility: visible;
		}
	}
}

#a-recordings, #a-public-eye, #a-contact {
	padding-bottom: 10px;
}

#jv-title {
	cursor: pointer;
	margin-right: 13px;
	transition: all 0.5s ease;
	white-space: nowrap;
	width: 317px;
}

#clock--mobile {
	display: none;
}

#shop {
	font-size: 0.9em;
  font-weight: bold;
  font-family: courier;
}

.view {
	width: 620px;
	transform: translateY(-15px);
	margin-bottom: 70px;
}

.view-option {
	background: #F8F4F7;
	color: black;
	display: none;
	padding: 10px 10px 60px;
	animation: fadeIn 1s ease;

	&--show {
		display: block;
	}
}

#clock {
	cursor: url(../../assets/images/hand.cur), auto;
	margin-left: -6px;
	transform: translateY(1px);

	img {
		max-height: 25px;
    margin: 0;
	}
}

#a-contact {
	h2 {
		margin-bottom: 10px;
	}
	a {

		&:hover {
			font-style: italic;
		}
	}
}

#random {
	background: none;
}

#here {
	text-decoration: underline;
	&:hover {
		text-decoration: none;
	}
}

.up-arrow {
	cursor: pointer;
	float: right;
	font-size: 1.2em;
  margin-right: 30px;
  margin-top: 15px;
}

.elsa {
	color: white;
	font-size: 0.7em;
	letter-spacing: 0.06em;
	margin-top: 80px;
	position: absolute;

	a {
		color: white;
		font-family: fantasy;

		&:hover {
			text-decoration: underline;
		}
	}
}

.bio-photos {
	display: flex;
	margin-top: 20px;

	img {
		max-height: 350px;
		margin-right: 10px;
		width: 192px
	}
}

.public-eye {

	&__item {
		margin-bottom: 20px;
	}

	&__link {
		font-style: italic;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}
}

.theme {
	color: white;
	/*transition: background 1.5s linear;*/

	&--image {
		background-image: url(../../assets/images/background.jpg);
		background-size: cover;
		background-attachment: fixed;

		.icon-arrow {
			margin-right: 4px;

			&--down {
				margin-left: 130px;

				&--rotate {
					margin-left: 66px;
				}
			}
		}

		.nav-main {

			&__layer--horizontal {
				margin-bottom: 12px;
			}

			&__list {
				margin-top: 10px;
			}
		}

		#jv-title {
			color: white;
			font-family: sans-serif;
    	font-weight: 400;
    	margin-right: 45px;
    	letter-spacing: 4px;
		}

	}
}

@media screen and (max-width: $breakpoint-sm) {
	.outer {
		overflow-x: hidden;
	}

	.nav-main__layer--horizontal {
		flex-direction: column;
	}

	h2 {
		font-size: 1.3em;
	}

	h3 {
		margin-top: 0;
	}

	p {
		font-size: 1.05em;
	}

	ul {
		li {
			font-size: 1.05em;
		}
	}

	.elsa {
		color: black;
		position: relative;

		a {
			color: black;
		}
	}

	#jv-title {
		width: 100%;
	}

	#clock {
		display: none;
	}

	#clock--mobile {
		display: block;
	}

	#random {
		background: none;
		margin: 0 auto;
		padding-top: 0;
		transform: translateY(-200px);
	}

	#a-jv-lab {
		.view-option {
			animation: fadeIn 1s ease;
		}
	}

	#lab {
		display: none;
	}

	.up-arrow--mobile {
		display: block;
	}


	.view-option--show {
		display: flex;
		flex-direction: column;
		padding-bottom: 20px;
		width: 100%;
	}

	.icon-arrow {
		display: none;
		&--down {
			display: block;
		}
		&--mobile {
			display: block
		}
	}

	.js-horizontal-nav {
		visibility: visible;
		opacity: 1;
	}

	main {
		flex-direction: column;
	}

	.nav-main__list {
		width: 100%;
		justify-content: space-between;
	}

	.nav-main__list-item {
		padding-right: 0;
	}

	.nav-list {
		li {
			line-height: 1.5em;
		}
	}

	.up-arrow {
		align-self: flex-end;
	}

	.icon-arrow--down {
		margin-left: 5px;

		&--rotate {
			font-size: 2em;
			transform: rotate(360deg);
			margin: 0;
		}
	}

	.icon-arrow--down-desktop {
		display: none;
	}

	iframe {
		width: auto;
	}

	.nav {
		margin-bottom: 10px;
		min-width: 100px;
	}

	.public-eye__list {
		padding: 0;
	}

	.view {
		margin-top: 10px;
		display: flex;
		width: 100%;
		transform: translateY(0);
	}

	.bio-photos {
		flex-direction: column;

		img {
			margin-right: 0;
			max-width: 100%;
			max-height: 100%;
			width: auto;
		}
	}

	.theme {
		&--image {
			background-position-x: 820px;

			.icon-arrow {
				&--down {
					margin-left: 30px;
				}
			}

			#jv-title {
				font-size: 2.3em;
				font-weight: 300;
				margin-bottom: 10px;
			}
		}

		&--blue {
			#jv-title {
				font-size: 2em;
				width: 100%;
			}
		}
	}
}
